h1 {
	font-family: Oswald;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
td {
	border:1px solid black;
	font-style: italic;
}
tr:nth-child(odd) {
	background: #FFF
}
.fullWidth {
	width: 100%;
}
.container {
	width: 80%;
	margin: auto;
}
#photo {
	width: 100%;
	height: 110px;
	background-image: url("adele.jpg");
	background-repeat: repeat-x;
}
.textCenter {
	text-align: center;
}
.table {
	width: 80%;
	border: 1px solid black;
	margin: auto;
	background-color: #D8D8D8;
}
.bgGrey {
	background-color: grey;
}

.linkHover {
    text-decoration: none;
}
.linkHover:hover {
    text-decoration: underline;
	background-color: green;
}
.circularImage {
  border-radius:  50%;
}